<!DOCTYPE html>
<html class="no-js">

<head>
  <% include partials/head %>
</head>

<body>
  <header>
      <% include partials/menu %>
  </header>
 
  <!-- section Start -->
  <section id="seccionAdminFruta">
    <center>
        <center><h1>MANTENIMIENTO</h1></center>
      <div class="row justify-content-center"> 
        <div id="lista" class="col-md-6 col-sm-6">
          <h2 id="game-page-title">Niveles</h2>
          <a href="#divform"> <img class="img-fluid" src="../images/BOTONES/NUEVO.png" id="btnNuevaFrutaC"></a>
        </div>
      </div>
      <div class="row justify-content-center">

      </div>
       <!-- FORMULARIO -->
    
    </center>
  </section>
  <!-- <div id="divformCategoria">   </div> -->
  <div id="divform">   </div>

  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="./js/administrador-nivel.js"></script>
  <script src="./js/bootstrap.js"></script>
  <script src="./js/bootstrap.min.js"></script>

</body>

</html>